<div class="container">
    <br>
    <footer id="footer">
        <div class="col-lg-12">
            <small>
                <p>Made by
                    <a href="http://yourdevpro.com">Ronald Garlit</a>. Code released under the
                    <a href="https://github.com/RonGarlit/JsGangOFour/blob/master/LICENSE">MIT License</a>.</p>
                <p>Based on
                    <a href="http://getbootstrap.com" rel="nofollow">Bootstrap</a>. Icons from
                    <a href="http://fontawesome.io/" rel="nofollow">Font Awesome</a>. Web fonts from
                    <a href="https://fonts.google.com/" rel="nofollow">Google</a>.
                </p>
            </small>
        </div>
    </footer>
</div>
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>