<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>JsGangOFour</title>
    <!-- Bootstrap CSS -->
    <%- include('partials/MainStyles') %>
    <!-- PrettyPrints CSS and JS to handle code blocks in HTML code -->
    <%- include('partials/PrettyPrint') %>
  </head>

  <body>
    <!-- Start of Nav Section -->
    <%- include('partials/MainNavBar') %>
    <!-- End of Nav Section -->
    <div class="container">
      <h2>About Page</h2>
      <br />
      <p>This code is strictly for training purposes.</p>
      <p>Feel free to clone it and play!</p>
      <p>Enjoy,</p>
      <p>Ron</p>

      <p>
        <img
          src="images/FishingBuddy_Small.jpg"
          alt="Fishing Buddy"
          class="img-fluid img-thumbnail"
        />
      </p>
    </div>
    <%- include('partials/MainFooter') %>
  </body>
</html>
