<!DOCTYPE>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>JsGangOFour-Factory Method Pattern</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <%- include('partials/MainStyles') %>
        <!-- PrettyPrints CSS and JS to handle code blocks in HTML code -->
        <%- include('partials/PrettyPrint') %>

            <script src="scripts/decorator.js"></script>

</head>

<body>
    <!-- Start of Nav Section -->
    <%- include('partials/MainNavBar') %>
        <!-- End of Nav Section -->
        <br>
        <div class="container">
            <h2 title="Decorator">Decorator</h2>
            <div class="card text-white bg-secondary">
                <div class="card-body">
                    <div class="card-title">Intent according to the GoF: </div>
                    <p class="card-text">"Attach additional responsibilities to an object dynamically. Decorators provide a flexible alternative
                        to subclassing for extending functionality. "
                    </p>
                </div>
            </div>
            <p>The Decorator pattern extends (decorates) an object’s behavior dynamically. The ability to add new behavior at
                runtime is accomplished by a Decorator object which ‘wraps itself’ around the original object. Multiple decorators
                can add or override functionality to the original object. Some people call this a wrapper pattern. There
                are actually a couple patterns that you could call a wrapper pattern. The thing to keeep in mind that when
                we talk patterns they are kind of abstract. </p>

            <p>Decorators provide flexibility to statically typed languages by allowing runtime changes as opposed to inheritance
                which takes place at compile time. JavaScript, is a dynamic language and the ability to extend an object
                at runtime is baked into the language.</p>


            <div class="card text-white bg-primary mb-3" style="max-width: 25rem;">
                <div class="card-body">
                    <h4 class="card-title">JavaScript Code</h4>
                    <p>
                        <img src="images/javascript-decorator.jpg" alt="Abstract Factory Diagram" class="img-fluid img-thumbnail">
                    </p>
                </div>
            </div>

            <p>If you start down the Angular Framework road you will see the decorator pattern used. Granted in Angular versus
                the older AnuglarJS, Angular uses TypeScript to allow coding using object Oreinted Programming (OOP) techniques.
                TypeScript does this by aplying techniques used in our Optimized JavaScript Code through JsGangOFour.</p>


            <p></p>
            <br>
            <div class="alert alert-dismissible alert-primary">
                <h4 class="alert-heading">JavaScript Code</h4>
                <div>
                    <!-- Follow these links for the google prettyify information
                    https://github.com/google/code-prettify
                    This is the link to the styple for prettyify - We choose Dessert and put in prettify.css
                    https://github.com/google/code-prettify/blob/master/styles/desert.css -->
                    <pre class="prettyprint">
                        //==============================================
                        // decorator.js
                        //==============================================
                        // log helper
                        // Used to add() to var log
                        // then display in alert box
                        // via show() method
                        //==============================================
                        var log = (function () {
                            var log = "";
                            return {
                                add: function (msg) { log += msg + "\n"; },
                                show: function () { alert(log); log = ""; }
                            }
                        })();
                        
                        //==============================================
                        // Decorator
                        // JavaScript does not support class-based 
                        // inheritance therefore the abstract classes.
                        // we must ensure this consistency ourselves
                        // that properties and methods match!!!
                        //==============================================
                        
                        // Here are old and new interfaces
                        // and abstract classes that are used to simulate old 
                        // functionality but hiding the new functionality
                        // without breaking things.
                        //----------------------------------------------
                        
                        // Create the User object we will
                        // later decorate with more properties
                        var User = function (name) {
                            this.name = name;
                            this.say = function () {
                                log.add("User: \n Name: " + this.name);
                            };
                        }
                        
                        // Now pass the User object to the "decorator" object
                        // that we created.
                        var DecoratedUser = function (user, street, city) {
                            this.user = user;
                            this.name = user.name;  // ensures interface stays the same
                            this.street = street;
                            this.city = city;
                            this.say = function () {
                                log.add("Decorated User: \n Name: " + this.name + ", \n Street: " +
                                    this.street + ", \n City: " + this.city);
                            };
                        }
                        
                        //==============================================
                        // run_Decorator()
                        //==============================================
                        function run_Decorator() {
                        
                            log.add("-------------------------");
                            // add to log heler var 
                            log.add("Create the User Object:");
                            // add to log heler var 
                            log.add("-------------------------");
                            var user = new User("Kelly");
                            user.say();
                        
                            log.add("-------------------------");
                            // add to log heler var 
                            log.add("Now decorate above User Object:");
                            // add to log heler var 
                            log.add("-------------------------");
                            var decorated = new DecoratedUser(user, "Broadway", "New York");
                            decorated.say();
                        
                            log.show();
                        }
                    </pre>
                </div>
                <button type="button" class="btn btn-success" onclick="run_Decorator();return false;">Execute run_Decorator()</button>
            </div>


            <p></p>
            <br>
            <div class="alert alert-dismissible alert-primary">
                <h4 class="alert-heading">Optimized JavaScript Code</h4>
                <div>
                    <!-- Follow these links for the google prettyify information
                    https://github.com/google/code-prettify
                    This is the link to the styple for prettyify - We choose Dessert and put in prettify.css
                    https://github.com/google/code-prettify/blob/master/styles/desert.css -->
                    <pre class="prettyprint">
                        //==============================================
                        // Optimized JavaScript Code
                        //==============================================
                        // To understand "Optimized JavaScript Code" we must
                        // review some modern javascript design patterns and techniques
                        // which the provided links cover nicely.
                        //----------------------------------------------
                        // See these links: 
                        // https://addyosmani.com/blog/essential-js-namespacing/
                        // https://www.safaribooksonline.com/library/view/learning-javascript-design/9781449334840/ch13s15.html
                        // https://medium.freecodecamp.org/javascript-modules-a-beginner-s-guide-783f7d7a5fcc
                        // http://www.adequatelygood.com/JavaScript-Module-Pattern-In-Depth.html
                        // http://esbueno.noahstokes.com/post/77292606977/self-executing-anonymous-functions-or-how-to-write
                        //==============================================
                        
                        var JsGangOfFour = {
                            namespace: function (name) {
                                var parts = name.split(".");
                                var ns = this;
                        
                                for (var i = 0, len = parts.length; i < len; i++) {
                                    ns[parts[i]] = ns[parts[i]] || {};
                                    ns = ns[parts[i]];
                                }
                        
                                return ns;
                            }
                        };
                        
                        JsGangOfFour.namespace("Classic").Decorator = (function () {
                            //==============================================
                            // JavaScript does not support class-based 
                            // inheritance therefore the abstract classes.
                            // we must ensure this consistency ourselves
                            // that properties and methods match!!!
                            //----------------------------------------------
                            // Note here again in OOP we would define a interface
                            // or abstract classes.   
                            //==============================================
                        
                            // PRIVATE AREA
                            //==============================================
                            // Create the User object we will
                            // later decorate with more properties
                            // under modern javascript patterns this is known as "Mixin"
                            // I still consider it the Decorator pattern or a better yet a modern extention of it.
                            // See the jucie details here: 
                            // http://www.talkinghightech.com/en/javascript-mixin-pattern/
                            // https://addyosmani.com/resources/essentialjsdesignpatterns/book/#decoratorpatternjavascript
                            // https://addyosmani.com/resources/essentialjsdesignpatterns/book/#mixinpatternjavascript
                            //==============================================
                            // extend method to add on to and existing object
                            //==============================================
                            var extend = function (dest, source) {
                                for (var prop in source) {
                                    if (source.hasOwnProperty(prop)) {
                                        dest[prop] = source[prop];
                                    }
                                }
                            };
                            //==============================================
                            // extendDeep method to add on to and existing object
                            // Add another layer of decorations?  :-)
                            //==============================================
                            var extendDeep = function (dest, source) {
                                for (var prop in source) {
                                    if (source.hasOwnProperty(prop)) {
                                        if (typeof prop === "object") {
                                            dest[prop] = $.isArray(prop) ? [] : {};
                                            this.deepExtend(dest[prop], source[prop]);
                                        }
                                        else {
                                            dest[prop] = source[prop];
                                        }
                                    }
                                }
                            };
                        
                            return {
                                extend: extend,
                                extendDeep: extendDeep
                            };
                        })();
                        
                        //==============================================    
                        // run_OptimizedComposite()
                        //============================================== 
                        function run_OptimizedDecorator() {
                        
                            var decorator = JsGangOfFour.Classic.Decorator;
                            // add to log heler var 
                            log.add("-------------------------");
                            // add to log heler var 
                            log.add("Create the User Object:");
                            // add to log heler var 
                            log.add("-------------------------");
                            var User = function (name) {
                                this.name = name;
                                this.say = function () {
                                    log.add("--> User: " + this.name);
                                };
                            }
                            // Create user object we will decorate/extend
                            var user = new User("Kelly");
                            // add to log heler var 
                            log.add("User:");
                            // add to log heler var with user.say()
                            user.say();
                            // add to log heler var 
                            log.add("-------------------------");
                        
                            // add to log heler var 
                            log.add("Now decorate (using extend(dest, source) method) above User Object:");
                            decorator.extend(user, {
                                street: "Broadway",
                                city: "New York",
                                say: function () {
                                    log.add("--> Decorated User: \n|---> Name: " + this.name + ", \n|---> Street: " +
                                        this.street + ", \n|---> City: " + this.city);
                                }
                            });
                            // add to log heler var with user.say()
                            user.say();
                            // add to log heler var 
                            log.add("-------------------------")
                            // add to log heler var 
                            log.add("Now decorate (using extendDeep(dest, source) method) adding another layer of previously modified User Object:");
                            decorator.extendDeep(user, {
                                school: "Columbia",
                                grades: {
                                    "Spring": 4.0,
                                    "Fall": 3.5
                                },
                                say: function () {
                                    log.add("--> Deeply Extended User: \n|---> Name: " + this.name + ", \n|---> Street: " +
                                        this.street + ", \n|---> City: " + this.city + ", \n|---> School: " +
                                        this.school + ", \n|---> Grades: \n|------> Spring: " +
                                        this.grades.Spring + ", \n|------> Fall: " + this.grades.Fall);
                                }
                            });
                            // add to log heler var with user.say()    
                            user.say();
                            // Display what wwe have in the log object
                            log.show();
                        }
                        
                    </pre>
                </div>
                <button type="button" class="btn btn-success" onclick="run_OptimizedDecorator();return false;">Execute run_OptimizedDecorator()</button>
            </div>

        </div>
        <%- include('partials/MainFooter') %>
            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
                crossorigin="anonymous"></script>
</body>

</html>