<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>JsGangOFour-Page Under Construction</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <%- include('partials/MainStyles') %>

   

</head>

<body>
  <!-- Start of Nav Section -->
  <%- include('partials/MainNavBar') %>
      <!-- End of Nav Section -->
    <div class="container">
      <h2>Page Under Construction</h2>
      <img src="images/PageUnderConstruction.jpg" alt="Page Under Construction" class="img-fluid img-thumbnail">

    </div>
    <%- include('partials/MainFooter') %>

</body>

</html>