<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <!-- placing brand here by default puts hamburger menu to right. -->
    <a class="navbar-brand" href="/">JsGangOFour</a>
    <button class="navbar-toggler" aria-expanded="false" aria-controls="navbarColor01" aria-label="Toggle navigation" type="button"
      data-target="#navbarColor01" data-toggle="collapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <!-- placing brand here hides it and moves hamburger menu to left. -->
      <!-- <a class="navbar-brand" href="/">JsGangOFour</a> -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="creationpatterns">Creational Patterns
            <span class="caret"></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="creationpatterns">
            <a class="dropdown-item" href="/AbstractFactory">Abstract Factory</a>
            <a class="dropdown-item" href="/Builder">Builder</a>
            <a class="dropdown-item" href="/FactoryMethod">Factory Method</a>
            <a class="dropdown-item" href="/Prototype">Prototype</a>
            <a class="dropdown-item" href="/Singleton">Singleton</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="structionalpatterns">Structural Patterns
            <span class="caret"></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="structionalpatterns">
            <a class="dropdown-item" href="/Adapter">Adapter</a>
            <a class="dropdown-item" href="/Bridge">Bridge</a>
            <a class="dropdown-item" href="/Composite">Composite</a>
            <a class="dropdown-item" href="/Decorator">Decorator</a>
            <a class="dropdown-item" href="/Facade">Facade</a>
            <a class="dropdown-item" href="/Flyweight">Flyweight</a>
            <a class="dropdown-item" href="/Proxy">Proxy</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="behavioralpatterns">Behavioral Patterns
            <span class="caret"></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="behavioralpatterns">
            <a class="dropdown-item" href="/Chain">Chain of Resp</a>
            <a class="dropdown-item" href="/Command">Command</a>
            <a class="dropdown-item" href="/Interpreter">Interpreter</a>
            <a class="dropdown-item" href="/Iterator">Iterator</a>
            <a class="dropdown-item" href="/Mediator">Mediator</a>
            <a class="dropdown-item" href="/Memento">Memento</a>
            <a class="dropdown-item" href="/Observer">Observer</a>
            <a class="dropdown-item" href="/State">State</a>
            <a class="dropdown-item" href="/Strategy">Strategy</a>
            <a class="dropdown-item" href="/Template">Template Method</a>
            <a class="dropdown-item" href="/Visitor">Visitor</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="bsplay">Bootstrap Themes
            <span class="caret"></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="bsplay">
            <a class="dropdown-item" href="/bs">Standard Bootstrap</a>
            <a class="dropdown-item" href="/cerulean">Cerulean</a>
            <a class="dropdown-item" href="/cosmo">Cosmo</a>
            <a class="dropdown-item" href="/cyborg">Cyborg</a>
            <a class="dropdown-item" href="/darkly">Darkly</a>
            <a class="dropdown-item" href="/flatly">Flatly</a>
            <a class="dropdown-item" href="/journal">Journal</a>
            <a class="dropdown-item" href="/litera">Litera</a>
            <a class="dropdown-item" href="/lumen">Lumen</a>
            <a class="dropdown-item" href="/lux">Lux</a>
            <a class="dropdown-item" href="/materia">Materia</a>
            <a class="dropdown-item" href="/minty">Minty</a>
            <a class="dropdown-item" href="/pulse">Pulse</a>
            <a class="dropdown-item" href="/sandstone">Sandstone</a>
            <a class="dropdown-item" href="/simplex">Simplex</a>
            <a class="dropdown-item" href="/sketchy">Sketchy</a>
            <a class="dropdown-item" href="/slate">Slate</a>
            <a class="dropdown-item" href="/solar">Solar</a>
            <a class="dropdown-item" href="/spacelab">Spacelab</a>
            <a class="dropdown-item" href="/superhero">Superhero</a>
            <a class="dropdown-item" href="/united">United</a>
            <a class="dropdown-item" href="/yeti">Yeti</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
<!--       <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  </nav>
</div>
